---

import Button from '../../components/Button.astro';

const openSettings = () => {
    console.log('here');
    // @ts-ignore
    browser.runtime.openOptionsPage();
}

---

<main class="popup-viewport">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
    </svg>
    <p class="title">Popup</p>
    <p class="description">This is the popup view.</p>
    <Button onclick={openSettings}>Open Options</Button>
</main>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .popup-viewport {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        width: 300px;
        height: 175px;
    }

    svg {
        height: 24px;
        width: 24px;
    }

    .title {
        font-size: 1.1rem;
    }
    .description {
        color: #9da3aa;
    }
</style>