<button class="astro-button">
    <slot />
</button>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .astro-button {
        
        color: #fff;
        background: #179487;
        border: none;
        border-radius: .25rem;

        padding: .5rem 1rem;
        cursor: pointer;
    }

</style>